* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* cuon khi an vao */
    font-family: Helvetica,Arial; /* ke thua len the chỉ có chữ*/
    
}

/* 
1. Vi tri 
2. Kich thước  ( w, h)
3. Màu sắc
4.Kiểu dáng

*/


/* common: dung chung  */

.clear {
    clear: both; /* khacs phuc duoc float khong om tron đc gây ra div dưới ap sat div tren  */
}

/* tao mot class cho tat ca dung mot mau trang */
.text-white {
    color: #fff !important; /* uu tien cao */
}

.row {
    margin-bottom: 15px;

    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.3333%;
}


.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}


/* --------------- MAIN ----------------*/

#main {

    overflow: hidden; /* //Dung de chinh tat ca cac lop tran ra */
   
    
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed; /* nổi lên phần cao hơn */
    top: 0;
    left: 0; /* cho bám sát mép trái phải */
    right: 0;
    z-index: 1;
  /*   overflow: hidden */; /* lop con hien dung bang kich thuc lop cha */
  
}

#nav {
    display: inline-block;
}

#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    list-style-type: none;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav > li > a {
    color: #fff;
    text-transform:  uppercase;
   


}
#nav > li {
    display: inline-block;/*  // moi su */
    list-style: none;

}

#nav li {

    position: relative;
}
#nav li a {
    
    text-decoration: none; /* bỏ gạch chân */
    line-height: 46px; /* Cho kích thước bằng với header va căn chữ giữa */ 
    padding: 0 24px;
    display: block;

}
#nav li:hover .subnav {   /*  hien more con */
    display: block;
}


#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);  /* đổ bóng */
    top: 100%;
    left: 2px;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav .subnav li {
    width: 100%;
}


#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

}


#header .mobile-menu-btn:hover {
    background-color: #ccc;

}
#header .mobile-menu-btn:hover .menu-icon {
    color: #000;


}

#header .search-btn:hover {
    cursor: pointer;/*  cai j click đướcj thì dùng bàn tay */
    background-color: red;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider {
    margin-top: 46px; /* dùng đẩy xuống khỏi phần header */
    padding-top: 50%;
    background: url('https://www.w3schools.com/w3images/chicago.jpg') top center /cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 20%;
    color: #fff;
    width: 100%;

  /*   left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    text-shadow: 0 0 6px #000; /* Do bong cho font */
}
#slider .text-heading {
    font-weight: 500;
    font-size: 26px;
}


/* #slider {

    /* min-height: 500px;
    background-color: #000; 
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://www.w3schools.com/w3images/chicago.jpg') top center /cover no-repeat;

}
 */
/* #slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    tranform: translateX(-50%);
    text-align: centre;
} */

#content {
    background-color: #fff;
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 8px;
}


#content .section-heading {
    font-weight: 500; /* do day cua chu */
    text-align: center;
    font-size:30px;
    letter-spacing: 4px;  /* điều chỉnh khoảng cách giữa các chữ */
}
#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic; /* Kieu dang cua chu */
    opacity: 0.6; /* gia tri tu 0 - 1*/
   

}


#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* CAN DEU NHU BAO*/
    line-height:1.4;
}




#content .member-list {
    padding-top: 47px;
   

}




#content .member-item {
    float: left; /*Keos tren moot hang */
    text-align: center;

    
}

#content .member-name {   
    font-size:15px;
    
}


#content .member-img {
    width: 154px;
    margin-top: 15px;   /* đẩy ảnh cáh ra khỏi name*/
   border-radius: 6px; /* bo cong phần ảnh   */
}
 







/* Tour Section */
.tour-section {
    background-color: #000;
}


.ticket-list {
    list-style: none; /* bo dau . o dau the li */
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    /* color: #7575; */
    font-size: 18px;
    padding: 15px 16px;
    border-bottom: 1px solid #ddd; /* theem vien cho khung*/
}

.ticket-list .sold-out {
    background-color: rgb(173, 40, 40);
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}



.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px; /* dung dc khi co float */
}

/*place*/    

.place-list{
    margin-top: 32px;
    padding-bottom: 48px;
    

}
/* .place-item {

    width: 33.333333333%;
    
}    */

.place-img {
    width: 100%;
    display: block;

}
.place-img:hover {
    transform: scale(1.3); /* cỡ zoom khi di chuột vào */
    opacity:0.5;
}

.place-body {
    background-color: #fff;
    font-size: 16px;
    padding: 16px;

}

.place-heading {
    font-size:  16px;
    font-weight: 600px;

}



.place-desc {
   margin-top: 15px; 
   line-height: 20px;/*  khoarng cach cac chu */

}

.place-buy-btn{

    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 4px;
    margin-top: 7px;
    display: inline-block;
    text-align: center;
}
.place-buy-btn:hover {
    color: #000;
    background-color:#ccc;
}



.modal { /*form  mua ve*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center; /* FLEX BOX */
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-close {
    cursor: pointer; 
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
}
.modal-close:hover {
    opacity: 0.5;

}
.modal-body {
    padding-top: 16px;
}
.modal-label {
    display: block;
    margin-bottom: 15px;
}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-ticket {
    background-color:#009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;

}
#buy-ticket:hover {
    opacity: 0.6;
    color: #000;
}

a {
    color: #2196f3;
}
.modal-footer {
    text-align: right;
    padding: 16px;
}





/* --------------Contract Form----------- */
.contact-content {
    margin-top: 40px;

}
.contact-info {
    font-size: 22px;
    margin-top: 16px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;

}
.contact-form .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none; /* bo duong vien trong input */

}
.form-submit {
    background-color: #000;
    padding: 10px 27px;
    color: #fff;
    border: 1px;
    float: right;
}
.form-submit:hover {
    background-color: #cccccc;
    color:#000;
    cursor: pointer;

}


/* Map section */
.map-section img {
    width: 100%;

}

#footer {
    padding: 64px 16px;
    text-align: center;


}

.socials-list a {
    text-decoration: none;
    color:rgba(0, 0, 0,0.6);

}


#footer .socials-list a:hover {
    color:rgba(0, 0, 0,0.3);

}

#footer .copyright {
    color:rgba(0, 0, 0,0.3);
}
